<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
html {
  font-family: "IranSans", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

@font-face {
  font-family: "IranSans";
  src: url("~assets/fonts/IranSans/eot/IRANSansWeb.eot");
  src: url("~assets/fonts/IranSans/eot/IRANSansWeb.eot?#iefix")
      format("embedded-opentype"),
    url("~assets/fonts/IranSans/woff/IRANSansWeb.woff") format("woff"),
    url("~assets/fonts/IranSans/ttf/IRANSansWeb.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
</style>
